@media (min-width:500px) and (max-width:2560px){
    .dois-bt{
        margin-left: 20px;
    }

    .tres-bt{
        margin-left: 20px;
    }
}

@media(max-width:481px){

    .um-bt{
        width: 100%;
    }

    .dois-bt{
        width: 100%;
        margin-top: 20px;
    }

    .tres-bt{
        width: 100%;
        margin-top: 20px;
    }

    .table thead{
        display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
        width: 100%;
        color: white;
	}
	.table tr{
        margin-bottom:40px;
        background-color: rgb(96, 96, 109);
	}
	.table td{
		text-align: center;
		position: relative;
    }
    
    .paginacao .indices .pages{
        display: block;
        padding: 40px;
    }

    .paginacao .indices ul li button{
        width: 100%;
    }
	
}