@media(max-width:481px){
    .table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
        margin-bottom:40px;
        background-color: #ccc;
	}
	.table td{
		text-align: center;
		position: relative;
    }
    
    .paginacao .indices .pages{
        display: block;
        padding: 40px;
    }

    .paginacao .indices ul li button{
        width: 100%;
    }
	
}

@media  (min-width:500px) and (max-width:2560px){
    .paginacao .indices{
        float: right;
    }
}